/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
  }


 
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px;
  }
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }
  /* Estilos para dispositivos pequeños */
  @media only screen and (max-width: 600px) {
    table{
        text-align: center;
    }
    th, td {
      padding: 5px;
    }
    #search-input {
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        box-shadow: none;
        outline: none;
        width: 100%;
        margin-bottom: 16px;
        text-align: center;
        font-size: 1em;
      }
  }
  #search-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: none;
    font-size: 16px;
    outline: none;
    width: 30%;
    margin-bottom: 16px;
    text-align: center;
    font-size: 1.3em;
  }
  
  #search-input:focus {
    border-color: #4c7ef3;
  }

  .buyMaxCell {
    color: green;
    font-size: 1.2em;
  }
  
  .sellMaxCell {
    color: red;
    font-size: 1.2em;

  }
  .chart-button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .chart-button:hover {
    background-color: #449d44;
  }
  a {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }